@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0px;
    margin: 0px;
    border: none;
    outline: none;
    font-optical-sizing: auto;
    text-decoration: none;
    font-family: "Outfit", sans-serif;
}

:root{
    --bg: #8a4935;
    --top-bot: #53251f;
    --color1: #fff;
    --dark-body: #bb401b;
    --transicao-body: 0.1s linear;
    --transicao-geral: .5s cubic-bezier(0.65, 0, 0, 1);
}

body{
    transition: var(--transicao-body);
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.dark-body{
    transition: var(--transicao-body);
    background-color: var(--dark-body);
    color: var(--color1);
}

.dark-body ~ section > div > a > p{
    color: #fff;
}

.header{
    background: var(--top-bot);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: var(--border);
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
}

.navbar{
    transition: var(--transicao-geral);
    position: absolute;
    top: 60px;
    left: -100%;
    width: 13rem;
    height: 95vh;
    overflow-y: auto;
}

.navbar-normal{
    transition: var(--transicao-geral);
    background: linear-gradient(0deg, #DEF7FF, #eca576);
}

.dark-menu{
    transition: var(--transicao-geral);
    background: linear-gradient(0deg, #bb643c, #502811);
    z-index: 2;
}

.active{
    left: 0%;
}

.navbar > a{
    display: block;
    margin: 1.5rem;
}

.navbar > a:hover{
    transition: var(--transicao-body);
    border-left: 2px solid #fff;
    padding-left: 7px;
}

.content{
    display: contents;
    margin: 0 20px;
    text-align: center;
}

.content > div{
    justify-content: space-between;
    align-items: center;
}

.btn{
    cursor: pointer;
    font-size: 1rem;
    max-width: 150px;
    margin: 10px 25px;
}

.btn:hover{
    scale: 1.1;
}

.header .search-form.active{
    transform: scaleY(1);
}

.header .search-form {
    transition: var(--transicao-geral);
    position: absolute;
    top: 115%;
    left: calc(100vw - 275px);
    background: #7d524a;
    width: 250px;
    height: 2rem;
    display: flex;
    align-items: center;
    transform: scaleY(0);
    transform-origin: top;
    border-radius: 50px;
    justify-content: center;
    border: 3px solid #000;
}

.header > .search-form > #search-box{
    background: #7d524a;
    color: #fff;
    margin-left: 5px;
}

input::placeholder{
    color: #fff;
}

section.ghost{
    height: 100px;
}

section.main-content{
    flex: 1;
}

img#logo-main{
    width: 150px;
}

.logo{
    border-radius: 75%;
}

h1{
    text-align: center;
    padding-bottom: 20px;
    font-size: 2em;
}

a{
    color: var(--color1);
}

p{
    margin: 10px 0 25px;
}

p.texto-not.escuro{
    color: var(--color1);
    z-index: 2;
}

p.texto-not{
    color: #000;
    z-index: 1;
}

footer{
    padding: 10px;
}

footer > a{
    display: table;
    margin: 10px;
}

footer > a > i{
    margin-right: 5px;
}

header, .btn, footer, footer > a > i, footer > a{
    background-color: var(--top-bot);
    color: var(--color1);
}


@media (max-width:400px){
    .navbar{
        width: 7rem;
        font-size: 0.7rem;
    }
    
    .navbar > a{
        margin: 1.5rem 0.5rem;
    }

    header > div{
        margin: 0 7px;
    }
    
    .btn{
        cursor: pointer;
        font-size: 0.7rem;
    }
}
